**
!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/**
!internal/
!internal/**
!web/
!web/package.json
!web/bun.lock
!web/svelte.config.js
!web/vite.config.ts
!web/tsconfig.json
!web/src/
!web/src/**
!tokens.css
!LICENSE
!third_party/
!third_party/**
**/*_test.go
**/.env
**/.env.*
**/*.sqlite*
**/*.db
**/*.key
**/node_modules/
**/.svelte-kit/
web/build/
